@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap);
@font-face {
    font-family: "booteroz";
    src: url(Fonts/booteroz.ttf);
    font-weight: normal;
    font-style: italic;
    }
*{
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(70, 68, 68) 
}
html, body{
    margin:0;
    padding: 0;
    background-color: whitesmoke
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.a_tag{
    padding: 0.5em 5%;
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.nav a:hover{
    background-color: rgba(255,255,255,0.3);
}
.main-header {
    background-color: rgba(250,250,50,0.5);
    background-image: url(Images/headerimage.jpg);
    background-blend-mode: multiply;
    background-size: cover ;
    padding-bottom: 30px;
}
.main-band-name{
    text-align: center;
    margin: 0;
    font-family: 'booteroz';
    font-size: 4em;
    color: white;
    font-weight: normal;
}

.main-h1-large-name{
    font-size: 6em;
}
.content-section{
    margin: 1em;
    text-align: center;
}

.container{
    max-width: 900px;
    margin:0 auto;
    padding: 0 1.5em;
}
.section-header{
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    font-size: 2.5em;
}

.about-page-image-left{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}
.about-page-image-right{
    float: right;
    height: 400px;
    width: 300px;
    margin: 15px;
    border-radius:50%;
}
.main-footer{
    background-color: #56CCF2;
    color: white;
    padding: 0.25em 0;
}
.footer-pad{
    margin-left: 0.5em;
}

.main-footer-container{
    display: flex;
    align-items: center ;
}
.main-footer-container ul{
flex-grow: 1;
text-align: end;
}
.footer-nav li{
    padding:0 0.5em;
}
.footer-nav img{
    width:30px;
    height: 30px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: pointer;
    cursor: pointer;
}
.btn-header{
    margin: 0.5em 15% 2em 15%;
    color:white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight:lighter;
    padding-left: 2em;
    padding-right: 2em;

}.btn-header-git{
    margin: 0.5em 15% 2em 15%;
    color:white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight:lighter;
    padding-left: 2em;
    padding-right: 2em;

}
.btn-header-git:hover{
    background-color:#130101 
}
.btn-header:hover{
    background-color:#FF0000 
}

.btn-play{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    padding:0;
    width:100px;
    height: 100px;
    font-size: 4em;
}

.home-page-row{
 border-bottom: 1px solid black;
 padding-bottom: 1em;
 margin-bottom: 1em;
}

.home-page-row:last-child{
    border-bottom: none;
}

.project-item{
    display: inline-block;
    padding-right: 0.5em;
}

.project-start-date{
    color: #555;
    font-weight: bold;
    width: 15%;
}

.project-end-date{
    width:14%
}

.project-name{
    width: 35%;
}

.project-technology-used{
    width: 20%;
}

.project-btn{
    max-width: 12%;
}

.btn-primary{
    color:white;
    background-color: #2D9CDB;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: greenyellow;
}

.shop-item{
    margin:30px
}
.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom:15px;
}
.shop-item-image{
    height:252px;
}
.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}
.shop-item-price{
    flex-grow: 1;
    color: #333;
}
.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row{
    display: flex;
}

.cart-item{
    width: 45%;
}
.cart-price{
    width: 20%;
    color: #333;
    font-size: 1.2em;
}
.cart-quantity{
    width: 35%;
}
.cart-item-title{
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}
.cart-item-image{
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.btn-danger{
    color: white;
    background-color: rgb(228, 28, 28);
    font-size: 0.75em;
    font-weight: bold;
    margin: 10%;
    padding: 0.5em;
    border-radius: 5px;
}
.btn-danger:hover{
    background-color: rgb(122, 27, 27);
}

.cart-quantity-input{
    height:30px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color:rgb(214, 208, 208);
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-items:last-child(){
    border-bottom: 1px solid black;
}
.cart-row:nth-last-child() .cart-column{
    border: none;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-right: 20px;
}
.cart-item-price{
    color: #333;
    font-size: 1.1em;
}
.btn-purchase{
    padding: 10px;
    width: 20%;
    font-size: 1.75em;
    display: block;
    margin: 40px auto 80px auto;
}

